{% include 'navbar.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">



<div class="login">
  <div class="login-header">
    <br>
    <h1>Login</h1>
  </div>
  <div class="login-form">
    <h3>Organization Name:</h3>
    <input type="text" placeholder="Username"/><br>
    <h3>Email:</h3>
    <input type="email" placeholder="Email"/><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password"/>
    <br>
    <input type="button" value="Login" class="login-button"/>
    <br><br>
    <a class="sign-up" href="../signup/">Sign Up!</a>
    <br>
  </div>
</div>
