<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: lightblue;
        padding-left: 10%;
        padding-right: 10%;
        margin: 1% 1% 1% 1%;
        font-size: 150%;
    }
    nav a:hover {
        text-decoration: underline;
    }
</style>

<nav>
    <div><a href="../home/"> Home </a></div>
    <br>
    <div><a href="../contact/"> Contact </a></div>
    <br>
    <div><a href="../about/"> About </a></div>
    <br>
    <div><a href="../account/">Account</a></div>
    <br>
    <div><a href='../jobs/'>List Jobs</a></div>
</nav>