<!DOCTYPE html>
<html>
    <head>
        <title>
            Clean Slate Recent Activites
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/hstyle.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/rstyle.css' %}" type='text/css' >
    </head>
    <body>
            <div class="Header">
                    <div class="inner-header">
                        <div class="log"><br> Recent Activities</div>
                     </div>
            </div> 
            <div class="Container">
                    <div class="items">
                        <a href="#">
                            <img src="{% static 'img/cn.jpg' %}" class="thumbnail">
                            <div class="caption">
                                <h2>LeaderBoards</h2>
                                <p>Quality is not an act, it is a habit.</p>
                            </div>
                        </a>
                    </div>
                    <div class="items">
                        <a href="#">
                            <img src="{% static 'img/cn.jpg' %}" class="thumbnail">
                            <div class="caption">
                                <h2>Recent Activities</h2>
                                <p><br></p>
                            </div>
                        </a>
                    </div>
                    <div class="items">
                        <a href="#">
                            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rxUwkunoisrp126r/white-question-marks-on-black_blf5fvos7g_thumbnail-full01.png" class="thumbnail">
                            <div class="caption">
                                <h2>About</h2>
                                <p><br></p>
                            </div>
                        </a>
                    </div>
                    <div class="items">
                            <a href="#">
                                <img src="{% static 'img/cn.jpg' %}" class="thumbnail">
                                <div class="caption">
                                    <h2>LeaderBoards</h2>
                                    <p>Quality is not an act, it is a habit.</p>
                                </div>
                            </a>
                        </div>
                        <div class="items">
                                <a href="#">
                                    <img src="{% static 'img/lb.jpg' %}" class="thumbnail">
                                    <div class="caption">
                                        <h2>LeaderBoards</h2>
                                        <p>Quality is not an act, it is a habit.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                    <a href="#">
                                        <img src="{% static 'img/lb.jpg' %}" class="thumbnail">
                                        <div class="caption">
                                            <h2>LeaderBoards</h2>
                                            <p>Quality is not an act, it is a habit.</p>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="items">
                                        <a href="#">
                                            <img src="{% static 'img/cn.jpg' %}" class="thumbnail">
                                            <div class="caption">
                                                <h2>LeaderBoards</h2>
                                                <p>Quality is not an act, it is a habit.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="items">
                                            <a href="#">
                                                <img src="{% static 'img/lb.jpg' %}" class="thumbnail">
                                                <div class="caption">
                                                    <h2>LeaderBoards</h2>
                                                    <p>Quality is not an act, it is a habit.</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="items">
                                                <a href="#">
                                                    <img src="{% static 'img/lb.jpg' %}" class="thumbnail">
                                                    <div class="caption">
                                                        <h2>LeaderBoards</h2>
                                                        <p>Quality is not an act, it is a habit.</p>
                                                    </div>
                                                </a>
                                            </div>
                    
                </div>   
    </body>
</html>